.cover {
	position: relative;
	height: 295px;
	border-bottom: 2px solid #f1f1f1;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid;
	border-radius: 10px;
	padding: 1px;
	background-color: #6f6f6f;
}

.button {
	position: absolute;
	bottom: 20px;
	right: 90px;
	padding: 6px;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	background: white;
	border: 2px solid #888;
	border-radius: 4px;
	color: #6f6f6f;
	font-weight: bold;
	cursor: pointer;
}

.cover:hover .button {
	opacity: 1;
}

.image {
	width: 200px;
	height: 250px;
	border-radius: 3px;
	object-fit: cover;
}